@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  ;
  
}

/* AI-like wave animations */
@keyframes wave {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-wave-slow {
  animation: wave 18s linear infinite;
}

.animate-wave-fast {
  animation: wave 10s linear infinite;
}
.bg-animate {
  animation: bgMove 60s linear infinite;
}

@keyframes bgMove {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 100%; }
}



@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 8s ease infinite;
}
